<a href="https://colab.research.google.com/github/dbimou86/AcademyPublic/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
7+3
7-3
7*3
21//2
21%2
21**2

441

In [7]:
a=3
b=4
c=a+b
b=c-b
b

3

In [9]:
a=10

In [10]:
a==10

True

In [11]:
a==10
a>3

True

In [16]:
cities = ['Paris','Zurich','Rome','Berlin','Londo']
type(cities)
cities[2]
cities[2]='Milan'
cities.insert(2,'HK')
print(cities)

['Paris', 'Zurich', 'HK', 'Milan', 'Berlin', 'Londo']

In [21]:
r=1
o=2
m=3
e=4
r

1

In [31]:
fruits =['apple', 'pear', 'cherry']

for i in fruits:
  print(i)

apple
pear
cherry

In [32]:
list_of_list = [['a','b','c'],[1,2,3]]
list_of_list

[['a', 'b', 'c'], [1, 2, 3]]

In [ ]:
def AREAAAA(Length,Width):
  my_area = Length*Width
  return my_area

In [41]:
length=33
width=21
area=length*width
area

693

In [ ]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/avikpaul4u/vehicle-loan-default-prediction
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

Saving kaggle.json to kaggle.json
Downloading vehicle-loan-default-prediction.zip to /content
  0% 0.00/11.6M [00:00<?, ?B/s]
100% 11.6M/11.6M [00:00<00:00, 107MB/s]
Archive:  vehicle-loan-default-prediction.zip
  inflating: Data Dictionary.xlsx
  inflating: test.csv
  inflating: train.csv
Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 21.3MB/s]
Archive:  red-wine-quality-cortez-et-al-2009.zip
  inflating: winequality-red.csv

In [ ]:
import pandas as pd # Here I import a library named pandas which is specialized in

# data manipulation. I give an alias pd it is a kind of pseudonyme where pd refers to pandas.

import numpy as np

df = pd.read_csv('/content/winequality-red.csv')

df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5